.icon{
    max-width: 32vh;
    display: block;
    margin: 0 auto;

}

ion-input, ion-item{
    --background: transparent;
}
ion-content{
    --background: rgb(6, 7, 7);
}
ion-content{
    --background: rgb(6, 7, 7);
}

.google{
    --background: skyblue;
}
.facebook{
    --background: #4267b2;
}